#person
  background-color: #ccc;
  width: 100%;
  min-height: 100vh;
  padding: 20px
  box-sizing: border-box
  .person-info
    li
      border-bottom: 1px solid #000000
      height: 50px
      display: flex
      justify-content: space-between
      align-items: center
    .infoImg
      width: 30px
      height: 30px
      border-radius: 50%  
    .infoName
      font-size: 16px
      font-weight: 500

          

