@import "../../styles/common.css"; //公共字体图标文件
#delivery
  padding: 0 20px
  .delivery-top
    width: 100%
    background-color #23dcdc
    padding: 8px 16px
    // box-sizing: border-box
    input 
      background-color rgb(128,255,255)
      width: 280px
  .delivery-middle   
     padding: 8px 16px
     margin-bottom: 15px
    .position-quick
      display: flex
      justify-content: space-between
  .decImg
    width: 160px
    height: 160px  
      